.wrapper {
    max-width: 65rem;
    margin: 0 auto;
    padding: 0 1rem;
  }
  
  .col-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-gap: 0.1rem;
  }
  
  body {
    padding: 1rem 0;
    line-height: 1.4;
    font-family: sans-serif;
  }
  
  .column {
    padding: 0 1rem 1rem;
    text-align: center;
    font-size: 1.2rem;
    background: grey;
    color: #ffffff;
  }

  .col-tag{
      text-align: left;
      font-size: 14px;
  }
  
  .col-l {
    float: left;
    width: 30%;
    text-align: left;
  }
  
  .col-r {
    float: left;
    width: 70%;
    text-align: left;
  }

  .content{
      font-size: 12px;
  }